* {
    margin: 0;
    font-family: Istok web;
}

header .infos-cabecalho {
    background-color: #202616;
    color: #fff;
    font-size: 0.75em;
}

.cabecalho .links {
    width: 20%;
}

.cabecalho .links a {
    text-decoration: none;
    color: #202616;
    font-weight: bold;
}

.navegacao{
    width: 8%;
}

footer {
    background-color: #202616;
}

.rodape {
    color: #fff;
    width: 25%;
    text-align: center;
}