* {
    margin: 0;
    font-family: Istok web;
}

header .infos-cabecalho {
    background-color: #202616;
    color: #fff;
    font-size: 0.75em;
}

.cabecalho .links {
    width: 20%;
}

.cabecalho .links a {
    text-decoration: none;
    color: #202616;
    font-weight: bold;
}

.navegacao{
    width: 8%;
}
.banner{
    font-weight: bold;
    text-align: center;
    color:#fff;
}
.banner img{
    width: 100%;
}
.banner h1{
    position: absolute;
    top: 30%;
    font-weight: bold;
    font-size: 2em;
    width: 35%;
    left: 32%;
}
.banner p{
    position: absolute;
    top: 45%;
    font-size: 1em;
    width: 35%;
    left: 32%;
}
footer {
    background-color: #202616;
}

.rodape {
    color: #fff;
    width: 25%;
    text-align: center;
}